anyascii==0.3.3
blinker==1.9.0
click==8.3.0
colorama==0.4.6
contractions==0.1.73
emoji==2.15.0
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
MarkupSafe==3.0.3
nltk==3.9.1
numpy==2.0.2
pandas==2.2.2
pyahocorasick==2.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.18
scikit-learn==1.6.1
scipy==1.16.2
six==1.17.0
textsearch==0.0.24
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
Werkzeug==3.1.3
